In [1]:
t1 = 1,2, 'gustavo', 4, 5
t2 = 6,7,8,9,10
t3 = t1+t2

n1, n2, n3, *_, n10 = t3
print(n10)

10

In [2]:
t1 =( 1,2, 'gustavo', 4, 5)*20

In [3]:
print(t1)

(1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5, 1, 2, 'gustavo', 4, 5)

## pra mudar a tupla vou transformar em lista, da√≠ altero e depois transformo em tupla novamente

In [4]:
t1 = 1,2, 3, 4, 5
t1 = list(t1)
t1[1] =3000

In [5]:
t1

[1, 3000, 3, 4, 5]

In [6]:
t1 = tuple(t1)
print(t1)

(1, 3000, 3, 4, 5)

In [8]:
t1 = list(t1)
print(t1)

[1, 3000, 3, 4, 5]