In [7]:
# o separador de casas decimais é ponto e não a vírgula

print(type(1.44))
# se coloco vírgula ele acha que é uma tupla

valor = 1,44
type(valor)

<class 'float'>

tuple

In [9]:
#converte de inteiro para float
num = 1
print (float(num))

1.0

In [10]:
salario = 2.56
salario2 = 3.57
salario + salario2

6.13